# Supabase configuration for Client and Server
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Supabase Server-Side admin credentials (e.g., service role key)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Admin Authentication
ADMIN_API_KEY=
JWT_SECRET=

# Mercado Pago payments API Integration
MERCADOPAGO_ACCESS_TOKEN=

# VAPID Keys for Web Push Notifications
VAPID_CONTACT_EMAIL=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# Optional Gemini API Key
VITE_API_KEY=
